.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 .75rem;
  position: relative;

  &__hamburger-icon {

    span {
      display: block;
      height: .25rem;
      border-radius: .25rem;
      background-color: rgba(0, 0, 0, .9);
      margin-top: .25rem;
      margin-bottom: .25rem;
    }

    span:nth-child(1) {
      width: 1rem;
    }

    span:nth-child(2) {
      width:  1.5rem;
    }
  }

  &__hamburger-logo img,
  &__mobile-logo img{
    display: block;
    height: 4.25rem;
    width: auto;
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin: auto;
  }

  &__mobile-logo {
    flex: 1;
  }

  &__main {
    display: block;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    transform: translateX(-20rem);
    transition: transform ease .5s;

    @include desktop {
      transform: translateX(0);
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 4.25rem;
      max-width: 75rem;
      width: 90%;
      margin: 0 auto;
    }

    &-items,
    &-policy {
      list-style: none;

      @include desktop {
        display: flex;
        flex-direction: row;
      }

      a {
        display: block;
        text-decoration: none;
        padding: .5rem .75rem;
        color: $text-color;
        font-size: 1.1875rem;
        font-weight: 400;

        @include desktop {
          font-size: 1rem;
        }
      }
    }

    &-policy {
      border-top: solid 1px #cdcdcd;
    }
  }

  &__hamburger-menu:checked ~ &__main {
    display: flex;
    flex-direction: column;
    transform: translateX(0rem);
    transition: transform ease .5s;
    z-index: 1;

    .nav__main--close {
      position: absolute;
      top: .25rem;
      right: -1.25rem;
      color: rgb(255, 255, 255);
    }
  }

  &__hamburger-menu:checked ~ &__overlay-hamburger {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    // transition: background-color ease .5s;
    // transform: translateX(0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__login {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--desktop {
      display: none;

      @include desktop {
        display: block;
      }

      i {
        margin-right: .5rem;
        font-size: 1rem;
      }
    }
  }
}